@font-face {
  font-family: Arvo;
  src: url(Fonts/Arvo.ttf);
}

@font-face {
  font-family: Seaweed;
  src: url(Fonts/SeaweedScript.ttf);
}

body
{
	margin:0px;
	padding:0px;
	background-color:#222;
}

#mainBody
{
	overflow-y:hidden;
}
/* -------------------------HEADER---------------------- */

header
{
	display:flex;
}

header nav
{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
	width:100%;
	
}

header a
{
	background-color:#222;
	
	font-family:"Seaweed";
	font-size:3em;

	color:white;
	padding:0 0.3em;
}

header a:hover:before
{
	border-color:orange;
	filter:drop-shadow(0 0 0.15rem orange);
}

header nav a:before
{
	content:"";
	width:150%;
	border-bottom:2px solid white;
	display:block;
	
	position:relative;
	right:25%;top:50%;
	
	z-index:-1;
}



/* ---------------------MAINZONE----------------------- */

#mainTitle
{
	width:900px;
	margin:auto;
	margin-top:100px;
	
	overflow-x:hidden;
}


#mainTitle p:nth-child(1),#mainTitle p:nth-child(3)
{
	font-family:"Seaweed";
	font-size:70px;
	color:white;
	text-align:center;
	background-color:#222;
	
	width:370px;
	margin:auto;
	
	z-index:1;
}



#mainTitle p:nth-child(1):before,
#mainTitle p:nth-child(3):before
{
	content:"";
	width:240%;
	border-bottom:2px solid white;
	
	display:block;
	
	position:relative;
	top:50px;right:70%;
	
	z-index:-1;
	
	animation-name: fadeInRight;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#mainTitle p:nth-child(3):before
{
	animation-name: fadeInLeft;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#mainTitle p:nth-child(2)
{
	font-size:100px;
	text-align:center;
	background:#222;
	text-align:center;
	
	font-family:Arvo;
	color:white;
	text-shadow:
	-3px -3px 0 #222,
	-3px 3px 0 #222,
	3px -3px 0 #222,
	3px 3px 0 #222,
	4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
	
	opacity:0;
	animation-name:appear;
	animation-duration:4s;
	animation-fill-mode:forwards;
}

#mainTitle~p
{
	font-family:"Seaweed";
	font-size:30px;
	color:white;
	text-align:center;
	border:2px solid white;
	width:200px;
	margin:auto;
	opacity:0;
	animation-name:appear;
	animation-duration:2s;
	animation-delay:1s;
	animation-fill-mode:forwards;
	
}


@keyframes appear
{
	from{opacity:0;}
	to{opacity:1;}
}

@keyframes fadeInLeft 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100%
	{
		opacity: 1;
		transform: none;
	}
} 

@keyframes fadeInRight 
{
	0% 
	{
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% 
	{
		opacity: 1;
		transform: none;
	}
}

/* -------------------PRESENTATION------------------- */
.presentationMain
{
	display:flex;
	width:80%;
	margin:auto;
	
	padding-bottom:3rem;
	border-bottom:1px solid;
	border-image: linear-gradient(to right, transparent, white, transparent) 100% 1;
}

#topTitle
{
	font-size:100px;
	text-align:center;
	background:#222;
	text-align:center;
	
	font-family:Arvo;
	color:white;
	text-shadow:
	-3px -3px 0 #222,
	-3px 3px 0 #222,
	3px -3px 0 #222,
	3px 3px 0 #222,
	4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
	
	opacity:0;
	animation-name:appear;
	animation-duration:4s;
	animation-fill-mode:forwards;
}

.presetationMain section
{
	display:flex;
	flex-direction:row;
	
}

.presentationMain img
{
	width:50%;
	filter:grayscale(80%);
	
	box-shadow:
	-3px -3px 0 #222,
	-3px 3px 0 #222,
	3px -3px 0 #222,
	3px 3px 0 #222,
	6px 6px 0 #fff,
    7px 7px 0 #fff,
    8px 8px 0 #fff,
    9px 9px 0 #fff;
	
	margin:2%;
}

.presentationMain section
{
	color:white;
	font-size:30px;
	margin-top:5%;
	text-align:justify;
}

.presentationMain section h1
{
	text-align:center;
}


/* --------------------------CONTACT--------------------- */

form
{
	width:600px;
	
	margin:auto;
	margin-top:200px;
	
	
	border-right:2px solid ;
	border-left:2px solid ;
	
	border-image: linear-gradient(transparent, white, transparent) 1 100%;
	
	color:white;
	font-size:25px;
	
	
	opacity:0;
	transform:translateY(-45rem);
	
	overflow-y:hidden;
	animation-name:from-top;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes from-top
{
	from{opacity:0;}
	to{opacity:1;
		transform:translateY(0rem);}
}

form>div
{
	width:80%;
	
	display:flex;
	justify-content:space-between;
	
	margin:auto;
	padding:10px;
	
	text-align:left;
}

form>div input, form>div select
{
	width:60%;
	height:25px;
}

form>div input, select, textarea
{
	background-color:rgba(40,40,40,0.4);
	border:1px solid grey;
	padding:3px;
	color:white;
	font-family:Arial;
	border-radius:5px;
}

select
{
	color:grey;
}

textarea
{
	resizable:none;
	font-size:13px;
}

input[type="submit"]
{
	width:80px;
	margin:auto;
}


/* ----------------------FOOTER---------------------- */


#footerButton
{
	display:none;
}

#footerLabel div
{
	background:#444;
	width:50px;
	height:50px;
	
	border-radius:50%;
	
	display:flex;
	
	cursor:pointer;
	margin:auto;
	margin-top:185px;
	
	position:absolute;
	left:49%;

	transition:transform 1s ease;
	
	z-index:0;
}

#footerLabel span
{
	width:30px;
	height:3px;
	border-radius:3px;
	background:#222;
	margin:auto;
	position:relative;
	bottom:5px;
	
	transition:transform 1.2s ease;
}


#footerLabel span:nth-child(1)
{
	transform:rotate(-50deg) translateX(8px);
}

#footerLabel span:nth-child(2)
{
	transform:rotate(50deg) translateX(-8px);
}


#curFooter
{
	background:#444;
	height:150px;
	
	transition:visibility,transform 1s ease;
	transform:translateY(13rem);
	display:none;
	flex-direction:column;
	
}

#footerButton:checked~#curFooter
{
	transform:translateY(5.3rem);
	display:flex;
}

#footerButton:checked~#footerLabel div
{
	transform:translateY(-8rem);
	z-index:1;
}



#footerButton:checked~#footerLabel span:nth-child(1)
{
	transform:rotate(50deg) translateX(7px);
}


#footerButton:checked~#footerLabel span:nth-child(2)
{
	transform:rotate(-50deg)translateX(-7px);
}

#curFooter nav
{
	width:80%;
	height:50px;
	margin:auto;
	display:flex;
	justify-content:space-around;
	
	position:relative;
	top:20px;
	
	font-size:2.5em;
	font-family:"Seaweed";
}

#curFooter nav a
{
	color:white;
	text-decoration:none;
	
}

#curFooter nav a:hover
{
	text-decoration:underline;
}

#curFooter nav img
{
	width:50px;
	position:relative;
	bottom:10px;
}